/*
*= require jquery-ui
*= require jquery-ui-slider-pips
*= require elurikkus-common
*/

.breadcrumb {
    margin-bottom: 0;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

#region-map img {
    max-width: none;
}

#region-map label {
    display: inline;
    width: auto;
}

/* Common */
.link {
    cursor: pointer;
}

.hidden {
    display: none;
}


/**
 * **********************************************************************************\ | Regions page
 * \***********************************************************************************
 */

/* regions front page */

#header h1 {
    padding-left: 0 !important;
}

#map_canvas {
    height: 470px;
    margin: 9px 0 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

#accordion {
    height: 446px;
    margin: 0;
    margin-top: 18px;
}

#accordion h2 {
    line-height: normal;
}

#accordion h2 a {
    color: #333;
    font-size: 15px;
}

#accordion .ui-accordion-content {
    max-height: 195px;
    padding: 0;
}

#accordion ul {
    margin: 0;
    font-size: 0.8em;
}

#accordion ul li:before {
    content: "";
}

.ui-widget {
    font-family: Verdana, Arial, sans-serif !important;
}

#click-info {
    font-size: 15px;
}

#reset-map, #zoomTo {
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

li.regionLink {
    padding: 0.5rem;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
}

li.regionLink:hover {
    background-color: #30d8ef;
}

.ui-accordion-content li.selected {
    font-weight: bold;
}

#extra {
    margin-left: 1.5em;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 767px) {
    #rightPanel {
        margin-top: 8em;
    }
}

#emblems .span3 {
    margin-bottom: 0;
}

#emblems .thumbnail {
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.7);
}

#emblems a {
    color: inherit;
}

#emblems a:hover {
    color: inherit;
    text-decoration: none;
}

#region-map {
    width: 100%;
    height: 480px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

#exploreButtons {
    float: right;
    padding-bottom: 0.5rem;
}

#species .scrollContent {
    height: 400px;
}

#explorerTabs {
    margin-bottom: .6em;
}

#controlsMapTab.nav-tabs li a, #explorerTabs.nav-tabs li a {
    padding: 0 15px;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
}

.nav-tabs li a .popover-content {}

.nav-tabs li.active a {
    background-color: #ffffff;
}

#speciesTabContent thead th {
    padding: 0;
}

#groups, #species {
    margin-bottom: .8em;
}

#groups thead, #species thead {
    height: 30px;
    border-bottom: 1px solid #dddddd;
}

#groups thead tr, #species thead tr {
    position: relative;
    width: 100%;
}

#groups tbody, #species tbody {
    height: 530px;
    max-height: 530px;
    overflow-y: auto;
}

#groups tbody td, #species tbody td {
    border: 0;
}

#groups td, #species td {
    padding: 1px 0.5em 1px 0;
}

#groups tbody .spinner, #species tbody .spinner {
    display: block;
    height: 99.5%;
}

#groups tbody td.spinner i, #species tbody td.spinner i {
    margin-top: 230px !important;
}

#groups {
    border-right: 1px solid #dddddd;
}

#groups thead th {}

#groups tbody tr {}

#groups tbody td {}

#groups td.level0 {
    font-weight: bold;
}

#groups td.level1 {
    padding-left: 2em;
}

#species {}

#species td:first-child {
    padding-right: 0;
}

#species tr.infoRowLinks {
    background-color: #F0F0E8;
}

#species tr.infoRowLinks td {
    padding-bottom: 3px;
}

.species-list-button {
    color: white;
}

tr.groupSelected, tr.groupSelected:hover td {
    color: white;
    background-color: #30d8ef !important;
}

tr.speciesSelected, tr.speciesSelected:hover td {
    color: white;
    background-color: #30d8ef !important;
}

#showMoreSpeciesButton {
    min-width: 60%;
}

#dialogZone div.modal-body {
    min-height: 250px;
}

#dialogZone div.modal-body i {
    margin-top: 120px;
}

#controlsMapTab {
    margin-bottom: 7px;
}

#timeSlider .ui-slider-label {
    font-size: .8em;
}

#timeSlider .ui-slider-handle {
    cursor: pointer;
}

#timeSlider .ui-slider-label {
    color: #999 !important;
}

#time-range {
    text-align: center;
}

#time-buttons {
    height: 2em;
    margin: 0.5rem;
}

.time-control {
    width: 2em;
    height: 2em;
}

#playButton {
    display: inline-block;
    background: url("play.png") no-repeat;
    background-size: 26px 26px;
}

#playButton.selected, #playButton:hover {
    display: inline-block;
    background: url("play-on.png") no-repeat;
    background-size: 26px 26px;
}

#pauseButton {
    display: inline-block;
    background: url("pause.png") no-repeat;
    background-size: 26px 26px;
}

#pauseButton.selected, #pauseButton:hover {
    display: inline-block;
    background: url("pause-on.png") no-repeat;
    background-size: 26px 26px;
}

#stopButton {
    display: inline-block;
    background: url("stop.png") no-repeat;
    background-size: 26px 26px;
}

#stopButton.selected, #stopButton:hover {
    display: inline-block;
    background: url("stop-on.png") no-repeat;
    background-size: 26px 26px;
}

#resetButton {
    display: inline-block;
    background: url("reset.png") no-repeat;
    background-size: 26px 26px;
}

#resetButton.selected, #resetButton:hover {
    display: inline-block;
    background: url("reset-on.png") no-repeat;
    background-size: 26px 26px;
}

#opacityControls {
    width: 100%;
    margin-top: .5em;
}

.switch-padding {
    padding-top: 18px;
}

/* Taxonomy Chart */
#charts {
    overflow: hidden;
    text-align: center;
}

/* XXX XXX XXX */
#charts i.spinner {
    margin-top: 150px;
}

#taxa {
    margin-top: 2em;
    margin-bottom: 0 !important;
    margin-left: 20px;
    text-align: left;
}

path {
    cursor: pointer;
}

.checkbox input {
    height: initial;
}

#map-container {
    margin-bottom: 1rem;
}

.top-map-buttons {
    text-align: right;
}
